* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    padding: 3% 15% 0% 15%;
    height: 1500px;
    width: 100vw;

    background-color: pink;
}

.atf {
    height: fit-content;
    width: 100%;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 5%;

}

.hero img {
    height: 100%;
    width: 100%;
    padding: 3% 5% 0% 5%;
    
}

.mainHeading h1 {
    font-family: 'Young Serif', serif;
    padding: 3% 5% 0% 5%;
    font-weight: 400;
    
}
@media screen and (max-width: 400px) {
    .mainHeading h1 {
      font-size: larger;
    }
  }

.heroText {
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    padding: 3% 5% 0% 5%;
    font-size: 16px;
    color: hsl(24, 5%, 18%);
}


.secondRow {
    height: fit-content;
    width: 100%;
    background-color: white;
    padding: 5%;
}

.innerDivSecond {
    
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: hsl(24, 5%, 18%);
    width: 100%;
}
.xaq{
    
    width: 100%;
}

.innerDivSecond h4 {
    color: hsl(332, 51%, 32%);
    padding: 3% 5% 0% 5%;
}

.innerDivSecond ul {
    margin-left: 10px 
   
}

.innerDivSecond ul li span {
    color: hsl(24, 5%, 18%);
}

.innerDivSecond ul li {
    
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}

.thirdRow {
    height: fit-content;
    width: 100%;
    background-color: white;
    padding-bottom: 5%;
}
.innerDivThird {
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    
    
}
.innerDivThird h2 {
    color: hsl(14, 45%, 36%);
    padding: 3% 5% 0% 5%;
}

.innerDivThird ul {
    margin-left: 10px
   
}

.innerDivThird ul li {
    margin-left: 10px;
    
    font-family: 'Outfit', sans-serif;
}
